body{
    background:#0f172a;
    color:#e2e8f0;
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.lock-container{
    text-align:center;
}

h1{
    font-size:32px;
    margin-bottom:10px;
}

.subtitle{
    color:#9ca3af;
    margin-bottom:25px;
}

.card{
    background:#111827;
    padding:30px;
    border-radius:18px;
    width:350px;
    border:1px solid #1f2937;
}

label{
    display:block;
    text-align:left;
    margin-bottom:8px;
    font-weight:bold;
}

input{
    width:100%;
    padding:14px;
    border-radius:10px;
    border:1px solid #374151;
    background:#1f2937;
    color:white;
    margin-bottom:20px;
}

button{
    width:100%;
    padding:14px;
    background:#2563eb;
    border:none;
    border-radius:10px;
    color:white;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

.error{
    margin-top:15px;
    color:#ef4444;
    font-weight:bold;
}
